// overriding Bulma variables
$navy: #0C1D7D;
$pink: #F40C86;
$grey-dark: #343D4D;
$grey-light: #A3AFBF;
$text: #778396;
$family-sans-serif: "DM Sans Medium 500", Helvetica, Arial, sans-serif;
$scheme-main: #866f6f;
$white-ter: #e7e7e7;
$navbar-height: 4.25rem;
$navbar-item-hover-color: rgba(244, 12, 134, 0.4);
$title-font: Helvetica Neue, Arial, sans-serif;
$yc-blue: #0bb3eb;