.content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    padding: 9px;
    padding-right: 56px;
    padding-left: 18px;
    margin-bottom: 10px;
}
.is-flex{
    color: black;
}
.contacct{
 border: 2px solid #eee;
 margin-bottom: 10px;   
}
